.principal{
    background-color: rgb(135, 71, 90);
    min-height: 100vh;
}

.text{
    color: rgb(240, 235, 235);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal div{
    margin: 3%;
}

.header{
    background-color: rgb(103, 37, 51);
    padding: 2% 6%;
}

.header section{
    margin: auto 0;
}

.header h1{
    color: rgb(236, 202, 108);
}

.footer{
    padding: 1rem 2rem 3rem;
}

.navvv{
    padding: 1%;
    background-color: rgb(45, 45, 46);
}

.recuadro-page{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.recuadro-page h2{
    margin: auto 0;
}

.p{
    background-color: rgb(18, 21, 51);
}

.card img{
    width: 28rem;
    margin: 3rem auto 0;
}

.borde-accordion{
    padding: 1px 0;
    background-color: #383c6e;
    border-radius: 30px;
}

.accordion-item{
    --bs-accordion-bg: #616492;
    --bs-accordion-btn-bg: #383c6e;
    --bs-accordion-btn-color: #06001f;
    --bs-accordion-color: #06001f;
    --bs-accordion-border-color: #0d0f72;
    --bs-accordion-active-bg: #383c6e;
    --bs-accordion-active-color: #06001f;
}

.accordion-button:hover {
    background-color: #4b508a;
    color: #ffffff;
    transition: background-color 0.3s ease;
}