*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    background-color: rgb(135, 71, 90);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: rgb(103, 37, 51);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 6%;
}