.principal{
    background-color: rgb(135, 71, 90);
    min-height: 100vh;
}

.text{
    color: rgb(240, 235, 235);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal div{
    margin: 3%;
}

.header{
    background-color: rgb(103, 37, 51);
    padding: 2% 6%;
}

.header section{
    margin: auto 0;
}

.header h1{
    color: rgb(236, 202, 108);
}

.footer{
    padding: 1rem 2rem 3rem;
}

.navvv{
    padding: 1%;
    background-color: rgb(45, 45, 46);
}

.recuadro-page{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.recuadro-page h2{
    margin: auto 0;
}

.p{
    background-color: rgb(18, 21, 51);
}

.card img{
    width: 28rem;
    margin: 3rem auto 0;
}