.principal{
    background-color: rgb(135, 71, 90);
    min-height: 100vh;
}

.text{
    color: rgb(240, 235, 235);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal div{
    margin: 3%;
}

.header{
    background-color: rgb(103, 37, 51);
    padding: 2% 6%;
}

.header section{
    margin: auto 0;
}

.header h1{
    color: rgb(236, 202, 108);
}

.footer{
    padding: 1rem 2rem 3rem;
}

.navvv{
    padding: 1%;
    background-color: rgb(45, 45, 46);
}

.recuadro-page{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.recuadro-page h2{
    margin: auto 0;
}

.p{
    background-color: rgb(18, 21, 51);
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin: -1.5rem 0 1rem;
}

.borde-accordion{
    padding: 1px 0;
    background-color: rgb(56, 60, 110);
    border-radius: 30px;
}

.accordion-item{
    --bs-accordion-bg: rgb(97, 100, 146);
    --bs-accordion-btn-bg: rgb(56, 60, 110);
    --bs-accordion-btn-color: rgb(6, 0, 31);
    --bs-accordion-color: rgb(6, 0, 31);
    --bs-accordion-border-color: rgb(13, 15, 114);
    --bs-accordion-active-bg: rgb(56, 60, 110);
    --bs-accordion-active-color: rgb(6, 0, 31);
}

.accordion-button:hover {
    background-color: rgb(75, 80, 138);
    color: white;
    transition: background-color 0.3s ease;
}

#info-sitio{
    background-color: rgb(254, 252, 252);
    border: 9px solid rgb(80, 47, 47);
    border-radius: 70px;
    padding: 6%;
}

.container .linkss{
    border: 3px solid rgb(39, 38, 38);
    border-radius: 50px;
    margin: 3% 2%;
    padding: 2%;
}

.container{
    background-color: rgb(254, 252, 252);
}

.linkss{
    background-color: rgb(221, 247, 255);
    position: relative;
    border-radius: 20%;
    overflow: hidden;
}

.linkss::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgb(255, 221, 232);
    transition: width 0.4s ease;
    z-index: 0;
}

.linkss:hover::before {
    width: 100%;
}

.linkss > * {
    position: relative;
    z-index: 1;
}

.linkss a{
    margin: -5%;
    height: 100%;
    text-decoration: none;
}
.linkss a div{
    padding: 4%;
}

.linkss h3{
    color: rgb(25, 26, 129);
    font-size: 24px;
    font-weight: bold;
}

.linkss:hover h3{
    color: rgb(160, 43, 78);
    font-size: 28px;
    transition: color 0.4s ease, font-size 0.4s ease;
}

.linkss a img {
    height: 25rem;
    border: 4px solid rgb(47, 77, 97);
    border-radius: 50px;
    margin: 3rem auto 0;
    display: block;
}

.linkss a h3 {
    margin: auto;
}